
    /* Estilo para el contenido de la modal */
    .my-swal-popup {
        border: 2px solid #ced4da;
        border-radius: 10px;
        align-items: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ajusta según sea necesario */
        width: 530px;
    }

    /* Estilo para el contenido de la modal */
    .my-swal-popup2 {
    border: 2px solid #ced4da;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ajusta según sea necesario */
    width: 800px;
    }

    .my-swal-popup3 {
        border: 2px solid #ced4da;
        border-radius: 10px;
        align-items: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ajusta según sea necesario */
        width: 600px;
    }

    .my-swal-popup4 {
        border: 2px solid #ced4da;
        border-radius: 10px;
        align-items: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ajusta según sea necesario */
        width: 400px;
    }
